<div class="container debug">
  <div class="row debug">
    <h1>Upcoming Playdates in Chicago</h1>
    <p>TESTING - {{testing}}</p>
    <h2>featured</h2>
    <table class="debug">
      <thead>
        <tr>
          <th>Playdate</th>
          <th>Host</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> future title</td>
          <td>new host</td>
          <td>date of the playdate</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- end of row -->
</div> <!-- end of container -->