<div class="container debug">
  <div class="row debug">
  <h1>Upcoming Playdates in Chicago</h1>
  <h2>featured</h2>
    <table class="debug">
      <thead>
        <tr>
          <th>Playdate</th>
          <th>Host</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="play in playdateList">
          <td>{{play.title}}</td>
          <td>{{play.host}}}</td>
          <td>{{play.date}}}</td>
        </tr>
      </tbody>
      </table>
  </div> <!-- end of row -->
</div> <!-- end of container -->